# This is a configuration file

##########################
### MAIN CONFIGURATION ###
##########################

# The path to your OpenSimulator binary directory
binaryPath = "/home/opensim/opensim/opensim-current/bin"

##############################
### OPTIONAL CONFIGURATION ###
##############################

# The path by which the screen command can be located.
# If this is in your shell PATH then there is no need to change this.
screenPath = "screen"

# Optional switches that will be passed verbatim to the component when it is invoked.
switches = ""
